# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*



# Dependency directories
jspm_packages/

# Build output
dist/
build/
coverage/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
*.dockerignore

# Misc
*.pid
*.seed
*.pid.lock

